

}
@keyframes heading {
  0% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
  50% {clip-path: polygon(0 0, 0 100%, 78% 73%, 100% 0);}
 100%{clip-path: polygon(0 0, 0 100%, 50% 50%, 100% 0);}
}

#main_img {

  animation-name: heading;
clip-path: polygon(0 0, 0 100%, 50% 50%, 100% 0);
animation-duration: 2s;
animation-iteration-count: 1;
width:100%;
height:30%;
}



html{
  background: rgba(166,204,37,1);
  background: linear-gradient(329deg, rgba(166,204,37,1) 0%, rgb(4,138,65) 100%);
   overflow-x: hidden;
  scroll-behavior: smooth;
}



table{
  margin: 0;
  width 100%;
  border-spacing: 240px 20px;
  padding-bottom:30px;
  font-family: Georgia;
  text-align: center;
  color:white;
  bottom: 0px;
}

h1{

 font-family: Georgia;
 padding-bottom: 25px;

}

#end{
   font-family: Courier;
  color:white;
  width:100%;
  text-decoration-color: white;
  height: 20px;
  background-color: rgba(45,125,86,1);
  background-blend-mode:multiply;
  bottom: 0px;
}

a:hover{
border-bottom: solid 2px red!important;

}

a:visited {
  color: white;
}

a:link {
  color: white;
text-decoration: none;
  border-bottom:white;
   font-family: Georgia;
   font-size: 18px;
   font-weight: bold;
}
.container {  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "m l p";
  width: 60%;
  height: 10%;
  padding-left:26.5%;
  padding-right:26.5%;
  color:white;
  top:100px;
  position: absolute;
}

.l { grid-area: l; }

.m { grid-area: m; }

.p { grid-area: p; }

.container3 {
  position: relative;
    color:white;
}

.container2 {
  position: absolute;
  top:20px !important;
  color:white;
width:100%;
text-align: center;
}



/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  ;background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 210, 104)
}
